@import "bootstrap";

$white-border: 1px solid hsl(0, 0%, 92%);
$white-key: hsl(60, 100%, 96%);
$black-border: 1px solid hsl(0, 0%, 18%);
$black-key: hsl(0,0%,28%);
$amount: 8%;

#content {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.main {
  padding: 30px;
  background-color: white;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: hsl(0, 0%, 28%);
  background-color: hsl(0,0,88%);
}

li {
  list-style: none;
  padding: 10px;

}

ul {
  -webkit-padding-start: 0px;
}

h1 {
  text-align: center;
}

.trackPlayer {
  display: flex;
  .trackName {
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
  }
  button {
    float: right;
  }
}

form {
  margin-top: 1em;
}

.form-group {
  margin-bottom: 5px;
}

.recorder {
  padding-bottom: 30px;
  border-bottom: $white-border;
}

.tracks {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.organ {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  height: 400px;
  justify-content: center;
  flex: 4;
}

.key {
  display: inline-flex;
  position: relative;
  border-right: $white-border;
  border-top: $white-border;
  border-bottom: $white-border;
  height: 100%;
  width: 60px;
  text-align: center;
  background-color: $white-key;
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, .18);
  &:first-child {
    border-left: $white-border;
  }
}

.sharp {
  border-right: $black-border;
  border-top: $black-border;
  border-bottom: $black-border;
  border: none;
  z-index: 999;
  margin-left: -20px;
  width: 40px;
  position: absolute;
  height: 225px;
  color: white;
  background-color: $black-key;
}

.pressed {
  background: linear-gradient(to bottom, $white-key, hsl(60, 100%, 85%));
  border-bottom: none;
}

.sharp.pressed {
  background: linear-gradient(to bottom, $black-key, hsl(60, 40%, 50%));
  border-bottom: none;
}


.text {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.btn {
  margin-right: 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
